<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container d-flex">
      <div class="d-flex" >
        <a class="navbar-brand d-flex align-items-center" href="#">
          <img src="../assets/images/logo.png" alt="" width="53" height="53" class="d-inline-block align-text-top me-2">
          <h1 class="me-1" style="font-size: 32px; display: inline;">7TAO</h1>
          <p >活動訂票網</p>
        </a>
        <form class="d-flex py-3">
          <input class="form-control" style="border-radius: 0;" type="search" placeholder="探索活動" aria-label="Search">
          <button class="btn btn-dark" style="border-radius: 0;" type="submit"><i class="icofont-search-1"></i></button>
        </form>
      </div>
      
      <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"  id="navbarSupportedContent">
          <ul class="navbar-nav"> 
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="icofont-file-alt"></i>REGISTER</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="icofont-ui-user"></i>LOGIN</a>
            </li>
          </ul> 
        </div>
      </div>

      

    </div>
    

     

  </nav>