<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Yeseva+One&display=swap" rel="stylesheet">
 
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- align-items-center justify-content-center flex-wrap -->
    <div class="bg-light pt-4">
      <div class="container ">
        <img  src="../assets/images/event/13.jpg" class="img-fluid mb-4" alt="首頁圖片">
        <ul class="row  list-unstyled justify-content-between" style=" margin:auto; ">
          <li class="col-4  col-lg-2  text-center " style="border:2px solid black;  ">
            <img class="img-fluid  pt-4 " src="../assets/images/music.png" alt="演出">
            <h2 class="fs-3 pb-2">演出<h2>
          </li>
          <li class="col-4  col-lg-2  text-center " style="border:2px solid black;  ">
            <img class="img-fluid pt-4 " src="../assets/images/heart.png" alt="聯誼">
            <h2 class="fs-3 pb-2">聯誼<h2>
          </li>
          <li class="col-4  col-lg-2  text-center " style="border:2px solid black;">
            <img class="img-fluid pt-4 " src="../assets/images/museum.png" alt="展覽">
            <h2 class="fs-3 pb-2">展覽<h2>
          </li>
          <li class="col-4  col-lg-2  text-center " style="border:2px solid black;  ">
            <img class="img-fluid pt-4 " src="../assets/images/cutlery.png" alt="美食">
            <h2 class="fs-3 pb-2">美食<h2>
          </li>
          <li class="col-4  col-lg-2  text-center " style="border:2px solid black; ">
            <img class="img-fluid pt-4 " src="../assets/images/snowed-mountains.png" alt="戶外">
            <h2 class="fs-3 pb-2">戶外<h2>
          </li>
          <li class="col-4  col-lg-2  text-center pt-4 " style="border:2px solid black; background-color: black; ">
            <h2 class="fs-1" style="color:#FBFF22">探索<br>更多<h2>
          </li>
        </ul>
      
      </div>
    </div>
    
     

    <!-- <h1 class="index-title">我是首頁</h1>

    <div class="card" style="width: 18rem">
      <img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" />
      <div class="card-body">
        <h5 class="card-title">卡片元件</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit, iusto odio assumenda alias id
          nobis earum!
        </p>
      </div>
    </div> -->

    <!-- Modal 按鈕 -->
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      打開 modal
    </button> -->

    <!-- Modal 元件 -->
    <!-- <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">內容</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div> -->

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
